<td><%= email_account_category.name %></td>
<td><%= email_account_category.created_at %></td>
<td>
  <%= link_to "Edit", edit_email_account_category_path(email_account_category), :remote => true %>
</td>
