<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @email_account_category.name %>
</p>


<%= link_to 'Edit', edit_email_account_category_path(@email_account_category) %> |
<%= link_to 'Back', email_account_categories_path %>
