.sidetabs-container {
    display: inline-block;
    vertical-align: top;
    width: 105%;
}

.sidetabs-tabs {
    display: block;
    float: right;
    width: 40px;
    height: 100%;
    border-left: #AAAAAA solid 1px;
}

.sidetabs-tabs ul {
    margin: 0;
    width: 100%;
    margin-left: -1px;
    margin-top: 10px;
}

.sidetabs-tabs ul li {
    display: block;
    width: 100%;
    vertical-align: middle;
    margin-bottom: 5px;
    width: 100%;
    float: left;
    clear: right;
}

.sidetabs-tabs ul li > a {
    display: block;
    width: 85px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    padding-left: 5px;

    background-image: url("/images/button_back.jpg");
    background-position: top;
    background-repeat: repeat-x;

    border: 1px solid #AAAAAA;

    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -moz-box-shadow: inset 1px 0 2px rgba(0, 0, 0, 0.1);

    font-weight: normal;
    font-style: normal;
    color: #555555;
}

.sidetabs-tabs ul li > a.selected {
    width: 85px;
    -moz-box-shadow: none;
    font-weight: bold;
    background-image: none;
    border-left: none;
    font-weight: bold;
    background-color: #FFF;
    outline: none;
}

.sidetabs-container .sidetabs-pane {
    display: table;
    float: left;
    width: 93%;
}