<table id="tickets_table" class="tablesorter">
  <thead>
    <tr>
      <th class="header bold">Title</th>
      <th class="header bold">Type</th>
      <th class="header bold">Status</th>
      <th class="header bold">Owner</th>
      <th class="header bold">Assigned to</th>
      <th class="header bold">Referred to</th>
      <th class="header bold">Age</th>
      <th class="header bold">Linked to</th>
      <th class="header bold">Created at</th>
      <th class="header bold">Actions</th>
    </tr>
  </thead>
  <tbody id="tickets_list_in_table">
    <% tickets.each do |ticket| %>
      <tr class="<%= cycle("odd", "even") %>" id = "ticket-row-<%= ticket.id %>">
        <%= render :partial => "single_ticket", :locals => {:ticket => ticket} %>
      </tr>
    <% end %>
  </tbody>
</table>
