<td><%= email_group.name %></td>
<td><%= email_group.description.html_safe %></td>
<td><%= email_group.created_at %></td>
<td>
  <%= link_to "Edit", edit_email_group_path(email_group), :remote => true %>
</td>
