<table id="users_table" class="tablesorter">
  <thead>
    <tr>
      <th class="header bold">Employee ID</th>
      <th class="header bold">Employee Name</th>
      <th class="header bold">Current System</th>
      <th class="header bold">Location</th>
      <th class="header bold">Actions</th>
    </tr>
  </thead>
  <tbody id="users_list_in_table">
    <% users.each do |user| %>
      <tr class="<%= cycle("odd", "even") %>" id = "user-row-<%= user.id %>">
        <%= render :partial => "single_user", :locals => {:user => user} %>
      </tr>
    <% end %>
  </tbody>
</table>
