<% if (params[:location_id].nil? ) %>
jQuery("<%= escape_javascript(render :partial => "move_user_to_another_sub_location")  %> ")
.insertAfter(".inner")
.wrap("<div id='popup'></div>");
set_position();
<% else  %>
  jQuery("#user-movement-listing").append("<%= escape_javascript(render :partial => "move_user_to_another_sub_location")  %> ")
<% end %>